body{
	margin:0px;
	padding:0px;
}
.panel_containerWindow{
	border:1px solid #A3A2BC;
}
.panel_frontend, .panel_backend, .panel_iframe{
	width:100%;
	height:100%;
	position:absolute;
	background-color:white;
	overflow:hidden;
	z-index:1;
	top:0px;
	left:0px;
}
.panel_frontend{
	background-color:#fafafa;
	z-index:2;
}
.panel_titleBar{
	position:relative;
	height:20px;
	overflow:hidden;
	background-color:white;
}
.panel_title{
	text-align:center;
	width:100%;
	height:100%;
	color:black;
	font:bold 8pt tahoma,MiscFixed;
	padding-left:5px;
	padding-top:3px;
	z-index:1;
}
.panel_roll, .panel_close{
	position:absolute;
	top:4;
	font:normal 0pt tahoma;
	padding:0px;
	border:0px solid red;
	z-index:2;
	cursor:hand;
}
.panel_shadow{
	position:absolute;
	background-color:#CCCCCC;
}
.panel_tab{
	position:absolute;
}
.panel_tabOption,.panel_tabOptionOver, .panel_tabOptionSelected,.panel_tabOptionSelectedOver{
	text-align:left;
	font:normal 8pt Tahoma,MiscFixed;
	border:1px solid #A3A2BC;
	position:absolute;
}
.panel_tabOption{
	background-color:#EEEEEE;
	font:normal 8pt Tahoma,MiscFixed;
	cursor:pointer;
}
.panel_tabOptionOver{
	/*background-color:#FFFFFF;*/
	/*font:normal 8pt Tahoma,MiscFixed;
	cursor:pointer;
	text-align:left;
	border:1px solid #A3A2BC;
	color:#666666;*/
}
.panel_tabOptionSelected, .panel_tabOptionSelectedOver{
	font:normal 8pt Tahoma,MiscFixed;
	border:1px solid #A3A2BC;
	border-right:1px solid #FFF;
	background-color:white;
	font-weight:bold;
	color:#000000;
}
.panel_tabOptionSelectedOver{
	color:#EA560F;
}
.panel_content{
	position:relative;
	color:black;
	font:normal 8pt Tahoma,MiscFixed;
	text-align:justify;
	border:1px solid #A3A2BC;
	background-color:white;
	overflow:auto;
}
.panel_statusBar{
	position:relative;
	overflow:hidden;
	width:100%;
	font:normal 8pt Tahoma,MiscFixed;
	padding:0px;
	margin:0px;
	border-top:1px solid #DBE0E5;
	height:20px;
	background-color:white;
}
.panel_status
{
	text-align:left;
	padding:2;
	padding-left:5px;
	color:#666666;
}
