hr
{
	border:0px solid red;
	border-top:1px solid #666;
}
.code
{
	background-color:#E0E0E0;
	border:1px solid #444444;
	clear:right;
	margin:0.2in;
	margin-top:0px;
	margin-bottom:0px;
	padding:0.1in;
	position:relative;
	font-size:12px;
}
.headerCode
{
	display:none;
	visibility:hidden;
}
.tcode
{
font:normal 8pt 'Lucida Console',monospace;
}
input
{
font-size:8pt;
}